/* Header styles */
header {
	background: #fff;
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	z-index: 1000;
	top: 0;
}
.logo-container img {
	max-width: 80px; /* Adjust as per your logo's dimensions */
}
.nav-menu {
	display: flex;
	gap: 20px;
}
.nav-menu ul {
	list-style: none;
	display: flex;
	gap: 20px;
}
.nav-menu li a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.nav-menu ul li {
	display: inline;
	margin: 0 15px;
}

.nav-menu ul li a {
	text-decoration: none;
	color: #000;
}

.menu li a {
	transition: color 0.3s, background-color 0.3s, text-decoration 0.3s; /* Transisi halus saat mengubah warna teks, background, dan menambahkan garis bawah */
}

.menu li a:hover { 
	text-decoration: underline; 
}

/* Style untuk ikon hamburger dan tanda X */
.mobile-nav-icon {
	display: none;
	cursor: pointer;
	position: relative;
	z-index: 10; /* Pastikan lebih tinggi dari menu */
}

.mobile-nav-icon span {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: #333;
	transition: 0.3s;
}

/* Transformasi menjadi tanda X */
.mobile-nav-icon.active span:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.mobile-nav-icon.active span:nth-child(2) {
	opacity: 0;
}

.mobile-nav-icon.active span:nth-child(3) {
	transform: rotate(-45deg) translate(7px, -6px);
}

/* Style untuk menu hamburger */
.hamburger-menu-container {
	position: fixed;
	top: 0;
	right: -50%; /* Sembunyikan di awal */
	width: 50%;
	height: 100%;
	background: #f9f9f9; /* Warna latar belakang menu */
	box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
	padding: 20px; /* Penambahan padding */
	transition: right 0.3s;
	z-index: 5;
}

.hamburger-menu-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.hamburger-menu-container ul li {
	padding: 15px 0; /* Spasi antar item */
	border-bottom: 1px solid #e1e1e1; /* Batas antar item */
}

.hamburger-menu-container ul li:last-child {
	border-bottom: none; /* Hapus batas di item terakhir */
}

.hamburger-menu-container ul li a {
	text-decoration: none;
	color: #333; /* Warna teks */
	font-size: 18px; /* Ukuran teks */
	transition: color 0.3s;
}

.hamburger-menu-container ul li a:hover {
	color: #25d366; /* Warna teks saat hover */
}

/* Tampilkan menu saat aktif */
.hamburger-menu-container.active {
	right: 0;
}

/* Hero section styles */
.hero {
	display: flex;
	justify-content: space-between;
	padding: 50px 20px;
	align-items: center;
	margin: 1rem;
}
.hero-content {
	max-width: 500px;
	margin: auto;
}
.title {
	font-size: 2rem; /* Large, bold font size */
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bolder;
}
.subtitle {
	font-size: 18px;
	margin-bottom: 30px;
}
.cta-button {
	background-color: #87bf82; /* Green background */
	color: white;
	border: none;
	padding: 15px 30px;
	font-size: 18px;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 25px;
}

.cta-button:hover {
	background-color: #50bf46;
}

.hero-image {
	perspective: 1000px; /* Menambahkan perspektif untuk efek 3D yang lebih dalam */
}

.hero-image img {
	transition: transform 0.5s ease-in-out;
	transform-origin: bottom center; /* Mengatur titik asal transformasi */
	transform-style: preserve-3d;
	width: 350px; /* Adjust based on your image's dimensions */
	/* margin-right: 100px; */
    margin-top: 50px;
}

.hover-animate {
	transform: rotateZ(-15deg) rotateX(-20deg) translateY(-5%);
}

/* Responsive styles */
@media (min-width: 1600px) {
	.hero-image img {
		margin-right: 100px;
	}
}

@media only screen and (max-width: 768px) {
	.hero {
		padding: 20px 20px;
	}
	.mobile-nav-icon {
		display: block;
	}
	.nav-menu {
		display: none; /* sembunyikan menu di perangkat mobile */
	}

	.hero {
		flex-direction: column;
	}
	.hero-image img {
		width: 100%;
		margin-top: 20px;
	}
	.title,
	.subtitle {
		text-align: center;
	}
	.cta-button {
		display: block;
		margin: auto;
	}
}

@media (max-width: 420px) {
	.title {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}
	.subtitle {
		text-align: center;
	}
	.cta-button {
		display: block;
		margin: auto;
	}
	.hero-image img {
		padding-bottom: -50px;
		/* margin-top: -50px; */
		object-fit: contain;
	}
}
